@font-face{
    font-family: 'PoppinsMedium';
    src: url(/fonts/Poppins-Medium.otf);
}
@font-face{
    font-family: 'PoppinsRegular';
    src: url(/fonts/Poppins-Regular.otf);
}


:root{
    --maincolor: #ff9d4d;
    --maincolorblue: #0069cb;
    --colororange: #f84000;
    --colorblue:#6fb5c3;
    --lightcolor:#ededed;
    --blackcolor:#232323;
    --colorbody1:#272727;

}
*{
  scroll-behavior: smooth;
}

html, body{
    font-family: 'PoppinsMedium', 'sans-serif';
    background-image: url(/img/BG\ preto.png);
    color: var(--lightcolor);
    
}
.background-banner{
  position: absolute;
  left: 0 ;
  right: 0;
  height: 1130px;
  background-image: url(/img/BG\ prin.png);
  
}
.color-primary{
  color: var(--colororange);
}

.logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    
  }
  
  .logo img {
    width: 400px;
    margin-top: 90px;
    margin-bottom: 30px;
   
    
  }
  .big-title {
    font-size: 40px;
    color: var(--lightcolor);
    line-height: 1.4;
    
  }
  .big-title h2{
    font-weight: bold;
    

  }
  .btn {
    margin-top: 30px;
    margin-bottom: 50px;
    display: inline-block;
    padding: 1rem 2rem;
    color: var(--lightcolor) !important;
    background-color: var(--blackcolor);
    border-radius: 50px;
    text-transform: capitalize;
    transition: 0.3s;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 2px;
  }
  .btni {
    margin-top: 15px;
    display: inline-block;
    padding: 1rem 2rem;
    color: var(--lightcolor) !important;
    background-color: var(--blackcolor);
    border-radius: 50px;
    text-transform: capitalize;
    transition: 0.3s;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 2px;
  }
  .btn:hover {
    background-color: var(--colororange);
    transform: scale(1) !important;
  }
  .btn-white{
    background-color: var(--lightcolor);
    color: var(--blackcolor) !important;
    border-radius: 20px;
    padding: 15px 25px;
    font-size: 20px;
    box-shadow: 0px 10px 15px -3px rgb(0, 0, 0, 0.1) ;
}
.btn-white.active, .btn-white:hover{
    background-color: var(--blackcolor);
    color: var(--lightcolor) !important;
}
.btn-icon{
    padding-right: 75px;
}
.btn-icon .icon{
    display: inline-block;
    color: var(--blackcolor);
    background-color: var(--colororange);
    width: 45px;
    height: 45px;
    position: absolute;
    right: 10px;
    border-radius: 15px;
    text-align: center;
}
.card-banner{
  height: 450px;
  width: 450px;
  border-radius: 170px;

  position: absolute;
  right: 0;
  top: -50px;

}
.img-banner img{
  position: relative;
  width:100%;
  top: 70px;
  right: 10px;
}

/* banner 2 */

.service h2{
  font-size: 25px;
  font-weight: bolder;
}

.textheader{
    display: inline-block;
    
    
  }
 
  .icon01{
    width: 70px;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    
   
  }
  .title{
    color: var(--lightcolor);
    margin-bottom: -70px;
    font-size: 20px;
    text-align: center;
  }
  
  
  .container .row .service{
    width: 100px;
    margin-top:30px ;
    padding: 20px 10px ;
    text-align: center;
    border: var(--lightcolor);
    border-radius: 15px ;
    transition: transform .5s;
    font-size: 14px;
    background-color: var(--blackcolor);
    color: var(--lightcolor);
    
    
  }
  
 
  .container .row .service:hover{
    transform: scale(1.0);
    background: var(--colororange);
    color: var(--lightcolor);
  }
 

  .container .row .service img{
    width: 45px;
    color: var(--colorblue);
    margin-bottom: 10px;
  }
  
  .container .row .service:hover img{
    color: var(--lightcolor);
  }

  .container .row .service h2{
    margin-bottom: 8px;
  }


  /* banner3 */ 
  .background-banner3{
    position: absolute;
    left: 0 ;
    right: 0;
    height: 600px;
    background-image: url(/img/BG\ PRINCIPAL2.png)
}
  .pilares img{
    margin-top: 20px;
    width: 450px;
  }
 
  .pilares h2{
    text-align: start;
    color: var(--lightcolor);
    font-size: 19px;
    letter-spacing: 1px;
    font-weight: bolder;
    line-height: 1.5em 
  }
  .pilares .a.btn{
    font-size: 10px;
    
  }
  .btn2{
    display: inline-block;
    text-decoration: none;
    padding: 1rem 2rem;
    color: var(--lightcolor)!important;
    background-color: var(--colororange) ;
    border-radius: 30px;
    text-transform: capitalize;
    transition: 0.6s;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 1px;
    background-image: linear-gradient(to left, #ff9d4d,#f84000 );

  }
  .right .mid{
    margin-left: 140px;
  }
  .right .mid .btn2{
    font-size: 14px;
    margin-top: 8px;
    margin-left: 65px;
  }
  .right .mid p{
    font-weight: bolder;
    margin-top: 55px;
    justify-content: center;
    align-items: center;
    color: var(--lightcolor);
    font-size: 20px;
    
  }
  .right img{
    margin-top: 25px;
    width: 600px;
  }
 /* banner 4 */
 .banner.icon01{
  margin-top: 90px;
  width: 70px;
  display: block;
  margin: 0 auto;
  
 
}
  .title1{
  font-weight: bold;
  font-size:40px;
  margin-left: 2px;
  margin-bottom: -20px;
  text-align: center;
  align-items: center;
  color: var(--lightcolor);
  
}
.title3{
  font-size: 20px;
  margin-bottom: 10px;
  color: var(--lightcolor);
  margin-left: 2px;
  text-align: center;
  align-items: center;

}
.btn3:hover {
  transform: scale(1.1) !important;
  background-color: var(--colorblue);
}
.btn3{
  margin-left: 400px;
  display: inline-block;
  padding: 1rem 2rem;
  color: var(--lightcolor) !important;
  background-color: var(--maincolorblue)!important;
  border-radius: 50px;
  text-transform: capitalize;
  transition: 0.3s;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 2px;
  background-image: linear-gradient(to left,#6fb5c3 ,#0069cb );
  

}
 .card{
    position: relative;
    border-radius: 10px;
    background-color: var(--blackcolor);
    height: 100%;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.card .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    position: relative;
}
.swiper{
  width: 550px;
  width: 100%;
}
.slider{
    position: relative;
    width: 550px;
    width: 675px;
    display: block;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

section .card .image img{
    height: 100%;
    width: 100%;
}



.swiper-pagination{
    position: absolute;
    top: 510px;
}
.swiper-pagination-bullet{
  margin-right: 10px;
    height: 15px;
    width: 15px;
    border-radius: 25px;
    background: var(--maincolorblue);
}
.swiper-button-next, .swiper-button-prev{
   margin-top: 90px;
    opacity: 0.7;
    margin: -90px;
    color: var(--maincolorblue);
    transition: all 0.3s ease;
}
.swiper-button-next:hover, .swiper-button-prev:hover{
    opacity: 1;
    color: var(--maincolorblue);
}
/* portifolio */

.gallery .box-container{
  display: flex;
  flex-wrap: wrap;
  margin-top: 90px;
  transition: transform .5s;

}
.gallery .box-container .box{
  overflow: hidden;
  border: 1rem solid var(--colorwhite);
  height: auto;
  position: relative;
}
.gallery .box-container img{
  height: auto;
  width:100%;
  
}
.gallery .box-container .box:hover{
  transform: scale(1.1);
}



/* contatos */
.contact .row2{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
 
}
.title4{
  font-size: 22px;
  color: var(--lightcolor);
  text-align: start;
  align-items: center;
  font-weight: bold;
}

.contact .row2 .image{
  flex:  1 40rem;
  
}
.contact .row2 .image img{
  width: 400px;
  
}
.contact .row2 .image .icon00{
 margin-bottom: 30px;
width: 80px;
}
label,
input,
select,
option,
button{
  display: block;
}
input,
select,
button{
  min-width: 400px;
  font-size: 15px;
  border-radius: 22px;
  border: 2px var(--maincolorblue) solid;
  padding: 5px; 
}

.contact .row2 form .box{
padding: 1rem;
font-size: 13px;
color: #333;
text-transform: none;
border: .1rem solid rgba(0,0,0,.1);
border-radius: .5rem;
margin: .7rem 0;
width: 50%;
}

.contact__message{
color: var(--lightcolor);
}

button{
margin-top: 18px;
font-size: 15px;
border: none;
border-radius: 20px;
background-color: var(--colororange);
color: var(--lightcolor);
cursor: pointer;
transition: 0.3s;
}
button:hover,
button:focus{
transform: scale(1.1);
color: var(--lightcolor);
outline: none;
background: var(--colororange);
}
button:disabled{
cursor: not-allowed;
background: var(--blackcolor);
}
/*footer */
footer{
  background: url(/img/BGfooter.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.logo-footer{
  width: 150px;
}
.container-logo-footer ,.container-texto-footer, .container-redes-footer{
  display: flex;
  align-items: center;

}
.container-logo-footer{
  justify-content: start;
}
.container-texto-footer{
  justify-content: center;
}
.container-redes-footer{
  margin-bottom: 15px;
  justify-content: end;

}
.text-footer{
  font-size: 15px;
  text-align: center;
  color: var(--blackcolor);
  font-weight: bolder;
}
.homefooter{
  font-size: 16px;
  color: var(--blackcolor);
}
